{%extends 'MyWalletMain/layout_main.html'%}

{%block title%}Statistics{%endblock%}

{%block content%}
<div class="container-fluid main_stat">
    <div class="main_stat_data">
        <div class="stat_period_main">
            <form method="get">
                {%csrf_token%}
                <div class="stat_input">
                    <div class="start_from">
                        <label for="start_from" class="text-light">start date</label>
                        <input name="date_start" type="date" class="form-control " id="start_from">
                    </div>
                    <div class="finish_to">
                        <label for="finish_date" class="text-light">finish date</label>
                        <input name="date_finish" type="date" class="form-control" id="finish_date">
                    </div>
                    <br>
                    <button type="submit" name="build_order" value="1" class="btn btn-success build_stat"
                            style="background-color: transparent; width: 100%; border-radius: 5%">
                        build
                    </button>
                </div>
                <br>
                {%if stat_flag == 0 %}
                <div class="stat_input">
                    <input class="info_ByTag_and_month_date form-control" type="date" name="month_and_tag">
                    <br>
                    <select class="form-control" name="tag">
                        {%for el in model%}
                        <option>{{el}}</option>
                        {%endfor%}
                    </select>
                    <br>
                    <button class="btn btn-success" name="tag_and_date" value="1" type="submit"
                            style="background: transparent; width: 100%;">submit
                    </button>
                </div>
                {%else%}
                <div class="stat_input">
                    <input class="info_ByTag_and_month_date form-control" type="date" name="month_and_tag">
                    <br>
                    <select class="form-control" name="tag">
                        {%for el in tag_list%}
                        <option>{{el}}</option>
                        {%endfor%}
                    </select>
                    <br>
                    <button class="btn btn-success" name="tag_and_date" value="1" type="submit"
                            style="background: transparent; width: 100%;">submit
                    </button>
                </div>
                {%endif%}
            </form>
        </div>
    </div>
    <div class="diagram_block_full_screen">
        <canvas id="myChart_full_screen"></canvas>
        <br>
        {% if stat_flag == 0%}
        <div class="stat_data">
            {%for key, value in model.items %}
            {%if value != None and value != 0%}
            <p class="text-light"><span class="keys">{{key}}</span> - <span class="values">{{value}}</span></p>
            {%endif%}
            {%endfor%}
        </div>
        {%else%}
        <div class="stat_data">
            <p class="text-light"><span class="keys">{{tag_name}}</span> - <span
                    class="values">{{tag_sum}}</span></p>
        </div>
        {%endif%}
    </div>
    <div class="diagram_main_block" id="diagram_main_block">
        <div class="diagram_block">
            <canvas id="myChart"></canvas>
            <br>
            {% if stat_flag == 0%}
            <div class="stat_data_!">
                {%for key, value in model.items %}
                {%if value != None and value != 0%}
                <p class="text-light"><span class="keys">{{key}}</span> - <span class="values">{{value}}</span></p>
                {%endif%}
                {%endfor%}
            </div>
            {%else%}
            <div class="stat_data">
                <p class="text-light"><span class="keys">{{tag_name}}</span> - <span
                        class="values">{{tag_sum}}</span></p>
            </div>
            {%endif%}
        </div>
    </div>
</div>
<script src="static/MyWalletMain/js/statistics.js"></script>
{%endblock%}