body {background-color: black}

.add_data_and_tags {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
}



.add_data_main{
                border: 1px solid #fff;
                padding: 1%;
                width: 35%;

}

.add_data {
           width: 100%;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-between;
           font-size: 8px;

}

.btn-write {
            width: 100%;
            background-color: transparent;
}

.btn-write:hover {
            color: black;
            background-image: linear-gradient(to right,#2f802f, #fff, #2f802f);
            transition-duration: 1s
}

.create_tag {
             border: 1px solid #fff;
             padding: 1%;
             width: 30%;
             font-size: 8px;

}

.create_tag_btn {
                 width: 100%;
                 background-color: transparent;
}

.create_tag_btn:hover{
                      color: black;
                      background-image: linear-gradient(to right, #2f802f, #fff, #2f802f);
                      transition-duration: 1s
    }

.create_pre_tag {
                border: 1px solid #fff;
                padding: 1%;
                width: 30%;
                font-size: 8px;

}

.create_pre_tag_btn{
                    width: 100%;
                    background-color: transparent;
}

.create_pre_tag_btn:hover{
                        color: black;
                        background-image: linear-gradient(to right, #2f802f, #fff, #2f802f);
                        transition-duration: 1s
}

.build_stat:hover{
                  color: black;
                  background-image: linear-gradient(to right, #2f802f, #fff, #2f802f);
                  transition-duration: 1s
}

.col_data {
           display:flex;
           justify-content: space-between;
           padding: 1%;
           height: 5vh;
}


.col_data_text {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5vh;
}

.dropdown-menu {
           background-color: black
}

.wallet_data {
             height: 70vh;
             overflow: auto;
             font-size: 13px;
}

.total_value {
              width: 20%;
}

.chose_month {
              width: 20%;
              display: flex;
              flex-direction: column;
}
.chose_month input{
               margin-bottom:10px;
}

.value_and_btn {
               display: flex;
               flex-direction: row;
               width: 100%;
               justify-content: space-between;
}

.all_data_btn {
               width: 40%;
}

.all_data_btn button {
                      width: 100%;
}

.stat_input {
             width: 90%;
             padding: 1%;
             border: 1px solid #fff;
             border-radius: 5%;
}

.stat_data {
            width: 90%;
            padding: 1%;
            border: 1px solid #fff;
            border-radius: 5%;
    }
.main_stat {
            width: 100%;
            display:flex;
            flex-direction: row;
    }
.main_stat_data {
                 width: 40%;
                 display: flex;
                 flex-direction: column;
                 justify-content: start;
}
.stat_period_main {
                   width: 100%;
}



.diagram_block {
                width: 60%;
                height: 70vh;
                display: flex;
                justify-content: center;

}

.diagram_btn {
              display: none;
}

.diagram_block_full_screen {
                            width: 45%;
                            height: 55vh;
                            display: flex;
                            justify-content: center;
    }

.nav-link {
           color: #fff;

}

.nav-link:hover {
                 color: #0f0f0f;
                 background: #fff;
                 border-radius: 7%;
                 transition-duration: 1s;
}

.main_note {
           width: 100%;
           display: flex;
           flex-direction: row;
}

.left_side_main{
                width: 50%;

}

.create_note_block {
                    width: 70%;
                    border: 1px solid #fff;
                    padding: 2%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 30vh;

}



.note_date_and_btn {
                    width: 80%;
                    margin-left: 15px;
}

.note_date_and_btn button {
                           margin-top: 15px;
                           width: 100%;
}

.right_side {
             width: 50%;
             height: 90vh;
             overflow: auto;

}

.notes_views {
               width: 75%;
               height: 15vh;
               border: 1px solid #fff;
               padding: 2%;
               border-radius: 5%;
               margin-bottom: 2%;

}
.note_text {
            height: 25vh;
}

.notes_dates {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
}


.warn_bell {
            display: flex;
            justify-content: end;


}


.count_circle{
              background-color: green;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              position: relative;
              top: -32px;
              left: 18px;
              font-size: 10px;
              display:flex;
              justify-content: center;

}



@media screen and (max-width: 430px){
    .add_data_and_tags {
                        display: flex;
                        flex-direction: column;

    }

    .add_data_main {
               width: 100%;
    }


    .price_input {
                  width: 30%;
    }

    .chose_tag {
                width: 30%;
    }

   .create_tag {
                width: 100%;
   }


   .pre_tag {
             width: 30%;
   }
   .create_pre_tag {
                    width: 100%;
   }


    .total_value{
                 width:50%;
    }

    .wallet_data {
                   height: 40vh;
                   max-width: 400px;
    }

    .stat_data {
                width: 100%;
                padding: 1%;
                border: 1px solid #fff;
                border-radius: 5%;
                max-height: 60vh;
                overflow: auto;
    }

    .stat_input {
                 width: 100%;
                 padding: 1%;
                 border: 1px solid #fff;
                 border-radius: 5%;
    }
    .value_and_btn {
               display: flex;
               flex-direction: column;
               width: 100%;
               justify-content: space-between;
    }
    .all_data_btn {
                   width: 100%;
    }
    .chose_month {
              width: 100%;
              display: flex;
              flex-direction: column;
    }
    .chose_month button{
                       width:100%;
                       margin-bottom: 15px;
    }

    .main_stat {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
    }

    .main_stat_data {
                 width: 100%;
                 display: flex;
                 flex-direction: column;}

    .diagram_block {
                width: 100%;
                height: 35vh;
                transition-delay: 1s;
        }


    .diagram_main_block {
                     width: 90%;
                     border: 1px solid #fff;
                     position: absolute;
                     z-index: 2;
                     height: 70vh;
                     background-color: black;
                     right: 500px;
                     border-radius: 5%;
        }
    .diagram_block_full_screen {
                                display: none;
    }
}


