body {background-color: black}

.add_data_and_tags {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
}

.add_data_main{
                border: 1px solid #fff;
                padding: 1%;
                width: 35%;

}

.add_data {
           width: 100%;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-between;
           font-size: 8px;

}

.btn-write {
            width: 100%;
            background-color: transparent;
}

.create_tag {
             border: 1px solid #fff;
             padding: 1%;
             width: 30%;
             font-size: 8px;

}

.create_tag_btn {
                 width: 100%;
                 background-color: transparent;
}

.create_pre_tag {
                border: 1px solid #fff;
                padding: 1%;
                width: 30%;
                font-size: 8px;

}

.create_pre_tag_btn{
                    width: 100%;
                    background-color: transparent;
}


.col_data {
           display:flex;
           justify-content: space-between;
           padding: 1%;
           height: 5vh;
}


.col_data_text {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5vh;
}

.dropdown-menu {
           background-color: black
}

.wallet_data {
             height: 70vh;
             overflow: auto;
             font-size: 13px;
}

.total_value {
              width: 20%;
}

.value_and_btn {
               display: flex;
               flex-direction: row;
               width: 100%;
               justify-content: space-between;
}

.all_data_btn {
               width: 50%;
}

.all_data_btn button {
                      width: 100%;
}

@media screen and (max-width: 430px){
    .add_data_and_tags {
                        display: flex;
                        flex-direction: column;

    }

    .add_data_main {
               width: 100%;
    }


    .price_input {
                  width: 30%;
    }

    .chose_tag {
                width: 30%;
    }

   .create_tag {
                width: 100%;
   }


   .pre_tag {
             width: 30%;
   }
   .create_pre_tag {
                    width: 100%;
   }


    .total_value{
                 width:50%;
    }

    .wallet_data {
                   height: 40vh;
                   max-width: 400px;
    }
}